 <div style='border: 3px solid #40FF00'> <center>
   <% if @visitor %>
      hi, <%= @visitor %>!
   <% else %>
    <form action="/hello">
      my name is <%= @name %>
      what's your name?
      <input type="text" name="name">
      <input type="submit">
    </form>
   <% end %>
    <img src='/images/algae.jpg'>
</div>
